header {
        border: bottom 10px solid rgb(46, 36, 36);
        display : flex;
        flex-direction : row;
        justify-content : space-between;
        align-items : center;
}
 #logo {
     font-size: 28px;
     color: black;
     text-decoration:none;
 }
 ul{
    list-style-type:none;
    display : flex;
    flex-direction : row;

 }
 .navlink {
    color: black;
    text-decoration:none;
    font-size: 16px;
    gap 24;
 }
 section{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
 }
 img{
    width: 100%;
 }
